extends ../layout/layout

block title
    title Zunka - Fornecedores

block append internal_style
    style.
        section > h2:first-child {
            margin-top: 0;
        }
        section label {
            margin-top: .3em;
            margin-right: 1em;
        }
        section label input[type='radio'] {
            color: blue;
            width: auto;
            height: auto;
            margin-right: .4em;
        }
        section label span {
            margin-top: .1em;
            font-weight: bold; 
        }
        .dealer > label {
            display: inline-block;
        }
        .dealer > h3:first-letter {
            text-transform: uppercase;
        }

block content 
    section
        //- title.
        h2 Fornecedores

        form(method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            //- Dealers.
            each activation, dealer in dealerActivations
                .dealer
                    h3= dealer
                    label
                        input(type='radio' name=dealer+'Activation' id=dealer+'Active' value='active'  checked=activation)
                        span Ativo
                    label 
                        input(type='radio' name=dealer+'Activation' id=dealer+'Inactive' value='inactive'  checked=!activation)
                        span Inativo
            //- Save button.
            input.btn-primary(type='submit' value='Salvar') 

append internal_scripts
    script.
        //- let activation = !{JSON.stringify(activation)};
