extends ../layout/layout

block title
    if freight.id == 'new'
        title Zunka - Criar motoboy frete
    else
        title Zunka - Editar motoboy frete

block append internal_style
    style.
        section > h2:first-child {
            margin-top: 0;
        }
        section a {
          display: block;
        }

block content 
    section
        if freight.id == 'new'
            h2 Criar motoboy frete
        else
            h2 Editar motoboy frete
        form(method='post')
            //- Csrf.
            input(type='hidden' name='_csrf' value=csrfToken)

            //- Id.
            input(type='hidden' name='id' value=freight.id)

            //- City.
            label(for='city') Cidade 
            input(type='text' name= 'city' id='city' value=freight.city)
            if freight.invalid.city
                label.error(for='city') !{freight.invalid.city}

            //- Dead line.
            label(for='deadline') Prazo (dias)
            input(type='text' name='deadline' id='deadline' value=freight.deadline)
            if freight.invalid.deadline
                label.error(for='deadline') !{freight.invalid.deadline}

            //- Price.
            label(for='price') Preço (R$)
            input(type='text' name='price' id='price' value=brCurrency(freight.price))
            if freight.invalid.price
                label.error(for='price') !{freight.invalid.price}

            //- Buttons.
            if freight.id == 'new'
                input.btn-primary(type='submit', value='Criar frete')
            else
                input.btn-primary(type='submit', value='Salvar')
                input.btn-danger(type='button' value='Apagar' onclick='deleteFreight()')
            input.btn-exit(type='button' onclick='window.location.href="/admin/motoboy-freights"' value='Sair') 

append internal_scripts
    script.
        //- let headers = { 'csrf-token': csrfToken };
        let freight = !{JSON.stringify(freight)};
        function deleteFreight() {
            if (confirm('Confirma a remoção?')) {
                axios.delete(`/admin/motoboy-freight/${freight.id}`, { headers: { 'csrf-token': csrfToken } })
                .then(()=>{
                    window.location.href = '/admin/motoboy-freights';
                })
                .catch((err)=>{
                    console.error(`${err.response.status} - ${err.response.statusText}`);
                    alert(`Alguma coisa deu errada!`);
                });
            }
        }

append external_scripts
    include ../components/axios.js.pug
