extends ../layout/layout

block title
    title Zunka - Motoboy

block append internal_style
    style.
        section > h2:first-child {
            margin-top: 0;
            margin-bottom: .5em;
        }
        section h3 {
            margin-top: .5em;
        }
        section a {
            display: block;
            display: flex;
            flex-flow: row wrap;
            // font-size: 1.2em;
            color: var(--green);
            cursor: pointer;
        }
        section a:hover {
            color: var(--green);
            text-decoration: underline;
        }
        section a span.deadline {
            // min-width: 4em;
            text-align: right;
            // margin-right: 3em;
        }
        section a span.price {
            // min-width: 5em;
            text-align: right;
            // margin-right: 3em;
        }

block content 
    section
        //- title.
        h2 Motoboy fretes

        //- Regions.
        each fr in freights
            a(href=`/admin/motoboy-freight/${fr.id}`) 
                span.city !{fr.city} &nbsp - &nbsp 
                span.deadline !{fr.deadline} dia(s) &nbsp - &nbsp
                span.price R$ !{brCurrency(fr.price)}
        input.btn-info(type='button' onclick='window.location.href="/admin/motoboy-freight/new"' value='Adicionar cidade') 

append internal_scripts
    script.
        let freights = !{JSON.stringify(freights)};
