doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato")
    title Zunka - Produto
    link(rel="stylesheet" href="/css/product.css" charset="utf-8")
    //- include ../../dist/icon/sprite2.svg
  body
    form(method='post' id='frmProduct')
      input(type='hidden' name='_csrf' value=csrfToken)                               
      //- input(type='hidden' name='addressId' value=address._id)  
      .field
        label(for='id') Código
        input(type='text' name='id', id='id' value=product.storeProductId)
      .field
        label(for='title') Título
        input(type='text' name='title' id='title' value=product.storeProductTitle)
      .field
        label(for='dealer') Fornecedor   
        input(type='text' name='dealer' id='dealer' value=product.dealer)   
      .field
        label Imagens
        .images
          each image, index in product.images
            .wrapper-image
              img.ui.small.image.product-image(src=`/img/${product._id}/${image.name}`)
              .right-arrow(onclick='swapOutImage(this, "right")')
              .left-arrow(onclick='swapOutImage(this, "left")')
              p.delete-image(onclick=`deleteImage(this)`) x             
        .upload-image
          label(for='fleImageUpload') 
            //- svg.icon: use(xlink:href='#ic_file_upload_black_24px')
            svg.icon: use(xlink:href='/icon/sprite.svg#ic_file_upload_black_24px')
            | Carregar imagem(s)
          input#fleImageUpload(type='file' accept='image/*' style='display:none' multiple onchange=`uploadProductImage('${product._id}', '${csrfToken}')`)
          //- label.ui.labeled.icon.button(@click='downloadDealerImages(product)')
      .field
        label(for='detail') Detalhes
        textarea(name='detail' id='detail' rows='8')= product.storeProductDetail
      .field
        label Descrição(for='description' )
        textarea(name='description' id='description' rows='8')= product.storeProductDescription
      .field
        label(for='tecInfo') Informações técnicas
        textarea(name='tecInfo' id='tecInfo' rows='8')= product.storeProductTechnicalInformation
      .field
        label(for='extraInfo') Informações adicionais
        textarea(name='extraInfo' id='extraInfo' rows='8')= product.storeProductAdditionalInformation
      .two.fields
        //- maker.
        .field
          label(for='maker') Fabricante
          select(name='maker' id='maker')
            each productMaker in productMakers
              option(value=productMaker.value, selected=productMaker.name === product.storeProductMaker ? true : false)= productMaker.name
        .field
          label(for='category') Categoria
          select(name='category' id='category')
            each productCategory in productCategories
              option(value=productCategory.value, selected=productCategory.name === product.storeProductCategory ? true : false)= productCategory.name
      //- warranty
      .field
        Label Garantia
        .warrant-fields
          .warrant.field(style='flex-grow: 1; flex-basis: 10em')
            label(for='dealerWarrantyDays') Fornecedor (dias)
            input.input-integer(type='text' name='dealerWarrantyDays' id='dealerWarrantyDays' value=product.dealerProductWarrantyDays, readonly)
          .warrant.field(style='flex-grow: 1; flex-basis: 10em')
            label(for='storeWarrantyDays') Loja (dias)
            input.input-integer(type='text' name='storeWarrantyDays' id='storeWarrantyDays' value=product.storeProductWarrantyDays)
          .warrant.field(style='flex-grow: 3; flex-basis: 10em')
            label(for='storeWarratyDetail') Observação
            input(type='text' name='storeWarratyDetail' id='storeWarratyDetail' value=product.storeProductWarrantyDetail)
      //- price
      .field
        Label Preço
        .price.fields
          //- Enable discount.
          .price.field.checkbox
            input(type='checkbox' name='discountEnable' id='discountEnable' onchange='calcFinalPrice()' checked=product.storeProductDiscountEnable)
            label(for='discountEnable') Habilitar desconto
          //- Dealer price.
          .price.field(style='flex-grow: 1;')
            label(for='dealerPrice') Fornecedor (R$)
            input.input-money(type='text' name='dealerPrice' id='dealerPrice' value=product.dealerProductPrice, readonly)
          //- Markup.
          .price.field(style='flex-grow: 1;')
            label(for='markup') Lucro (%)
            input.input-money(type='text' name='markup' id='markup' value=product.storeProductMarkup, oninput='calcFinalPrice()')
          //- Discount config.
          .price.field.select(style='flex-grow: auto;')
            //- Discount value.
            label(for='discount') Desconto
            input.input-money(type='text' name='discount' id='discount' value=product.storeProductDiscountValue, oninput='calcFinalPrice()')
            //- Discount mode.
            select(name='discountType' id='discountType' onchange='calcFinalPrice()')
              option(value='%', selected=product.storeProductDiscountType==='%' ? true: false) %
              option(value='R$', selected=product.storeProductDiscountType==='R$' ? true: false) R$
          //- Final price.
          .price.field(style='flex-grow: 1;')
            label(for='finalPrice') Valor final (R$)
            input(type='text' name='finalPrice' id='finalPrice')
      .field
        input(type='submit' value='Salvar')
    script(src='/js/bib.js')
    script(src='/js/admin/product.js')
