doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato")
    title Zunka - Produto
    link(rel="stylesheet" href="/css/product.css" charset="utf-8")
  body
    .field
      label Código
      input(value=product.storeProductId)
    .field
      label Título
      input(value=product.storeProductTitle)
    .field
      label Fornecedor   
      input(value=product.dealer)      
    //- .field
      label Imagens
      .images
        .wrapper-image(v-if='product.images.length > 0' v-for='(image, index) in product.images', :class='{selected: image.selected}')
          img.ui.small.image.product-image(:src='imageSrc(image.name)' @click='selectImage(index)')
          .right-arrow(@click='moveImage("right", index)')
          .left-arrow(@click='moveImage("left", index)')
          p.delete-image(@click='deleteImage(index)') x
      .upload-image
        //- | &nbsp&nbsp&nbsp&nbspCarregar imagem(s) local
        label(for='file-upload') 
          svg.icon: use(xlink:href='/icon/sprite.svg#ic_file_upload_black_24px')
          | Carregar imagem(s)
        input(type='file' id='file-upload' accept='image/*' style='display:none' multiple @change='uploadProductImage()')
        //- input(type='file' id='file-upload' accept='image/*' style='display:none' multiple @change='uploadProductImage()')
        //- label.ui.labeled.icon.button(@click='downloadDealerImages(product)')
          i.large.upload.icon
          | &nbsp&nbsp&nbsp&nbspCarregar imagem(s) do fornecedor
    .field
      label Detalhes
      textarea(rows='8')= product.storeProductDetail
    .field
      label Descrição
      textarea(rows='8')= product.storeProductDescription
    .field
      label Informações técnicas
      textarea(rows='8')= product.storeProductTechnicalInformation
    .field
      label Informações adicionais
      textarea(rows='8')= product.storeProductAdditionalInformation
    .two.fields
      //- maker.
      .field
        label Fabricante
        select(name='makers')
          each productMaker in productMakers
            option(value=productMaker.value, selected=productMaker.name === product.storeProductMaker ? true : false)= productMaker.name
      .field
        label Categoria
        select(name='categories')
          each productCategory in productCategories
            option(value=productCategory.value, selected=productCategory.name === product.storeProductCategory ? true : false)= productCategory.name
    //- warranty
    .field
      Label Garantia
      .warrant-fields
        .warrant.field(style='flex-grow: 1; flex-basis: 10em')
          label Fornecedor (dias)
          input.input-integer(value=product.dealerProductWarrantyDays)
        .warrant.field(style='flex-grow: 1; flex-basis: 10em')
          label Loja (dias)
          input.input-integer(value=product.storeProductWarrantyDays)
        .warrant.field(style='flex-grow: 3; flex-basis: 10em')
          label Observação
          input(value=product.storeProductWarrantyDetail)
    //- price
    .field
      Label Preço
      .price.fields
        .price.field.checkbox
          input#discount-enable(type='checkbox' name='discount-enable' checked=product.storeProductDiscountEnable)
          label(for='discount-enable') Habilitar desconto
        .price.field(style='flex-grow: 1;')
          label Fornecedor (R$)
          input.input-money(value=product.dealerProductPrice)
        .price.field(style='flex-grow: 1;')
          label Lucro (R$)
          input.input-money(value=product.storeProductMarkup)
        .price.field.select(style='flex-grow: auto;')
          label Desconto
          input.input-money(value=product.storeProductDiscountValue)
          input#discount-percentage(type='radio' name='discount-type' value='percentage')
          label(for='discount-percentage') %
          input#dicsount-money(type='radio' name='discount-type' value='fafaf')
          label(for='dicsount-money') R%
          //- select(value=product.storeProductDiscountType)
            input(value=product.storeProductDiscountType)
            option(value='%') %
            option(value='R$') R$
        .price.field(style='flex-grow: 1;')
          label Loja (R$)
          input(value='inputStoreProductPrice')
    script(src='/js/bib.js')
    script.
      ready(()=>{
        console.log('Started.')
      });
  //- include ../components/jquery.js.pug   