doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato")
    title Zunka - Produtos
    link(rel="stylesheet" href="/css/productList.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug
    main
      #app(v-cloak)
        table
          thead
            tr
              th Código
              th Título
              th Fornecedor
              th Local
              th Estoque
              th Preço
          tbody
            tr(
              v-for='product in products', @click='loadProductPage(product)'
              :class='{"product-commercialize": product.storeProductCommercialize, "product-active": product.dealerProductActive && (product.dealerProductQtd > 5)}'
            )
              td {{product.storeProductId}}
              td {{product.storeProductTitle}}
              td {{product.dealerName}}
              td {{product.dealerProductLocation}}
              td {{product.dealerProductQtd}}
              td {{product.storeProductPrice}}   
      nav.pagination
        //- for n in pageCount
        - var n = 0;
        while n < pageCount
          - n++;
          a(onclick=`loadPage(${n})` class={active: page==n})= n
    include ../components/vue.js.pug
    script.
      //- let vueProducts = !{JSON.stringify(products)}
      var app = new Vue({
        el: '#app',
        data: {
          currentPage: 'productList',
          products: !{JSON.stringify(products)},
          user: !{JSON.stringify(user)}
        },
        methods: {
          loadProductPage: function(product){
            window.location.href = `/admin/product/${product._id}`;
          }
        }
      });
      // Load specific page (pagination).
      function loadPage(n){
        window.location.href = '/admin/productList?search=' + document.getElementById("search").value +'&page=' + n;
      }
