extends ../layout/layout_vue

block title
  title Zunka - Fretes

block append css
  link(rel="stylesheet" href="/css/admin/shippingPrice.css" charset="utf-8")

block content 
  section.shadow
    //- title.
    h2.title Fretes

    //- Regions.
    each region in regions
        h3 #{region.name}
        // Shipping
        each item in region.items
            //- p #{ item.deadline.toString().length }
            a(href=`/admin/shipping/price/${item._id}`) 
                span.deadline !{item.deadline}
                span.max-weight !{item.maxWeight}
                span.price !{item.price}
    input.btn-info(type='button' onclick='window.location.href="/admin/shipping/price/new"' value='Criar frete') 

append internal_scripts
  script.
    let regions = !{JSON.stringify(regions)};

append external_scripts
  script(src='/js/admin/shippingPrice.js?0004')
