extends ../layout/layout_vue

block title
    title Zunka - Usuário

block append css
    link(rel="stylesheet" href="/css/admin/user.css?0002" charset="utf-8")

block content 
    section
        //- Title.
        h2.mt0 {{ user.name }}

        //- Email.
        h3 Email
        a(:href='`mailto:${this.user.email}`') {{ user.email }}
        //- CPF.
        .cpf(v-if='user.cpf')
            h3 CPF
            p {{ user.cpf }}
        //- CNPJ
        .cnpj(v-if='user.cnpj')
            h3 CNPJ
            p {{ user.cnpj }}
            // Inscrição estadual.
            .state-registration(v-if='user.stateRegistration')
                h3 Inscrição estadual
                p {{ user.stateRegistration }}
            // Contact name.
            .contact-name(v-if='user.contactName')
                h3 Contato
                p {{ user.contactName }}
        //- Mobile number..
        h3(v-if='user.mobileNumber') Celular
        a(:href='`tel:${this.user.mobileNumber }`') {{ user.mobileNumber }}

        //- Orders.
        h3 Pedidos
        //- a(:href='`/admin/order/${order._id}`' v-for='order in orders') {{ order.timestamps.placedAt }}
        a.order(:href='`/admin/order/${order._id}`' v-for='order in orders') 
            // No closed orders.
            p(v-if='!order.timestamps.placedAt') {{ order.timestamps.shippingAddressSelectedAt | formatDate }} &nbsp&nbsp&nbspNão concluído
            // Closed orders.
            p(v-if='order.timestamps.placedAt', v-bind:class='[ order.status ]') {{ order.timestamps.placedAt | formatDate }} &nbsp&nbsp&nbsp {{ order.totalPrice | formatMoney }} 

        input.btn-exit(type='button' onclick='window.location.href="/admin/users"' value='Sair') 

         

append internal_scripts
    script.
        let userInfo = !{JSON.stringify(userInfo)};
        let orders = !{JSON.stringify(orders)};

append external_scripts
    //- include ../components/moment-timezone.js.pug
    script(src='/js/admin/user.js?0001')
