doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Conta.
    include components/bootstrap.css.pug
  body
    nav.navbar.navbar-inverse.navbar-static-top
      //- .container-fluid
      .container
        .navbar-header
          a.navbar-brand(href='/') ZUNKA
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Conta
              if error
                each err in error
                  .alert.alert-danger(role='alert') 
                    p.text-center #{err} 
              if success
                each suc in success
                  .alert.alert-info(role='alert') 
                    p.text-center #{suc}               
              form(action='/users/account/delete' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                //- Name.
                .form-group
                  input.form-control(type='text' value=user.name name='name' placeholder='nome')                 
                //- Email.
                .form-group
                  input.form-control(type='text' value=user.email name='email' placeholder='e-mail')                    
                //- Remover conta.
                input.btn.btn-danger.btn-block(type='submit' value='Remover conta')
        .col-md-4
    include components/jquery.js.pug
    include components/bootstrap.js.pug
