doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Carrinho de compras
    include components/bootstrap.css.pug
  body
    nav.navbar.navbar-inverse.navbar-static-top
      //- .container-fluid
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar     
          // Home.
          a.navbar-brand(href='/') ZUNKA
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            // Username.
            if user.username
              li
                a= user.username
            // Sign-in.
            if !user.username
              li
                a(href='/users/login') Entrar
            // Cart.
            li
              a(href='/cart') Carrinho 
                span.badge= cart.totalQtd
            // Admin.
            if user.group == 'admin'
              li
                a(href='/configProducts/store') Admin
            // Logout.
            if user.username
              li
                a(href='/users/logout') Sair
          .navbar-form.navbar-right
            input.form-control(v-model='search' v-on:keyup.enter='getProducts()' placeholder='O que você procura?' type='text' size='40')
    .container
      //- .row
        .col-md-8.col-md-offset-2
          button.btn.btn-primary.delete-cart Delete Cart
      .row
        .col-md-12
          h3: strong Carrinho de compras
      .row
        .col-md-12
          table.table
            thead
              tr
                td
                td
                td Quantidade
                td Valor unitário
                td Valor total
            tbody
              each product in cart.products
                //- tr(class=product._id)
                tr
                  td: a(href='/product/' + product._id): img.product(src='/img/' + product._id +'/' + product.image)
                  td 
                    a.product-title(href='/product/' + product._id) #{product.title}
                    a.remove-product(data-product_id=product._id) Remover
                  td: p.product-qtd #{product.qtd}
                    //- button.btn.btn-primary.btn-xs.dropdown-toggle(type='button' data-toggle='dropdown')
                      | #{product.qtd}
                      span.caret
                    //- ul.dropdown-menu
                      li: a(href='#') 0
                      li: a(href='#') 1
                      li: a(href='#') 2
                      li: a(href='#') 3
                  td: p.product-price R$ #{product.price.toString().replace('.', ',')}
                  td: p.product-price R$ #{(product.price * product.qtd).toString().replace('.', ',')}
      .row
        .col-md-12
          H4: strong 
            | Subtotal (#{cart.totalQtd} #{cart.totalQtd == 0 ? 'item' : 'itens'}): 
            span.price R$#{cart.totalPrice.toString().replace('.', ',')}
      .row
        .col-md-12
          button.btn.btn-primary(type='button') Comprar
      .row
        .col-md-12
          footer
            p O preço e a disponibilidade dos itens na loja estão sujetios a mudanças. O carrinho é um local temporário para guardar a lista de seus ítens e reflete o preço mais recente.
    include components/jquery.js.pug
    include components/bootstrap.js.pug
    script.
      // For development only.
      $('button.delete-cart').on('click', function(){
        $.ajax({
          method: 'PUT',
          url: 'delete-cart',
        })
        .done(function(msg){
          alert(JSON.stringify(msg));
        });
      });

      // Remove a cart item.
      $('a.remove-product').on('click', function(event){
        // a.remove-product
        let $target = $(event.target);
        let $aTitle = $target.prev();
        let product_id = $target.data('product_id');
        $.ajax({
          method: 'PUT',
          url: 'cart/remove/' + product_id
        })
        .done(function(result){
          $target.closest('tr').html(
            $('<td class="product-removed" colspan="5"></td>')
              .append($aTitle.removeClass('product-title'))
              .append('<span> Foi removido do carrinho de compras. </span>')
          );
        });
      })
    style.
      table tbody tr {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      span.price{
        color: green;
      }
      img.product{
        max-width: 100px;
        height: auto;
      }
      footer p {
        font-size: .9em;
      }
      a.product-title {
        display: block;
        text-decoration: none;
      }
      a.remove-product {
        font-size: .9em;
        cursor: pointer;
      }
      p.product-price,
      p.product-qtd,
      a.product-title {
        font-size: 1.2em;
      }
      p.product-price,
      p.product-qtd {
        color: green;
      }
      .product-removed {
        font-size: .9em;
      }

