doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Zunka - Produtos
    link(rel="stylesheet" href="/css/productList.css" charset="utf-8")
  body
    header
      nav
        include main-nav.pug
    main
      #app(v-cloak)
        .container
          .cart(v-if='this.productAddedToCart._id')
            .item
              img(:src='"/img/" + this.productAddedToCart._id + "/" + this.productAddedToCart.images[0]')
              span Adicionado ao carrinho
            .sub-total
              span Subtotal ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}}) :
              span {{ cart.totalPrice | currencyBr }}
            .buttons
              a(href='/cart') Carrinho
              a(href='/checkout/shipping-address') Continuar ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}})
          .products
            .product(v-for='product in products')
              a(:href='"/product/" + product._id')
                img(:src='`/img/${product._id}/${product.images[0]}`', v-if='product.images[0]')
                h4.title {{ product.storeProductTitle }}
                //- h3.price
                  sup R$
                  | {{ product.storeProductPrice | currency | currencyInt }}
                  sup {{ product.storeProductPrice | currency | currencyCents }}                
                h2 {{ product.storeProductPrice }} - price
                h2 {{ product.storeProductPrice | currency }} - price | currency 
                //- h2 {{ product.storeProductPrice | charCode }}
                //- h2 {{ product.storeProductPrice | currency | currencyInt }} - price | currency | currencyInt 
                //- h2 {{ product.storeProductPrice | currency | currencyCents }} - price | currency | currencyCents 


  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
    let user = !{JSON.stringify(user)};
    let cart = !{JSON.stringify(cart)};
    let search = !{JSON.stringify(search)};
    console.log('Script test log.');
  include components/axios.js.pug
  include components/vue.js.pug
  include components/accounting.js.pug
  script(src='/js/productList.js')
