doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Dados de acesso.
    include ../components/bootstrap.css.pug
  body
    include ../navbar.pug
    .container
      .row
        .col-md-3
        .col-md-6
          ol.breadcrumb
            li
              a(href='/users/account') Sua Conta
            li.active Autenticação
          h2.text-left Autenticação
          //- Flash erros.          
          if error
            each err in error
              .alert.alert-danger(role='alert') 
                p.text-center #{err} 
          //- Flash success.
          if success
            each suc in success
              .alert.alert-info(role='alert') 
                p.text-center #{suc}    
          .z-panel
            .z-panel-item
              p Nome completo
              p= user.name
              a(href='access/name') Editar
            .z-panel-item
              p E-mail
              p= user.email
              a(href='access/email') Editar
            .z-panel-item
              p Número de telefone celular
              if user.cellPhone
                p= user.cellPhone
              else
                p **********
              a(href='access/cell-phone') Editar
            .z-panel-item
              p Senha
              p **********
              a(href='access/password') Editar
            .z-panel-item
              p CPF
              p **********       
              a(href='access/cpf') Editar
          p &nbsp
          a.btn.btn-primary(href='account') Concluído              
          p &nbsp
        .col-md-3
    include ../components/jquery.js.pug
    include ../components/bootstrap.js.pug
  style.
    a.not-decoration {
      text-decoration: none;
    }
    /* Panel */
    .z-panel{
      border: 1px solid lightgray;
      border-radius: 5px; 
    }
    .z-panel-item{
      padding: 1em;
      border-bottom: 1px solid lightgray;
    }
    .z-panel-item:last-child{
      border-bottom: 0px;
    }
    .z-panel-item > p:nth-child(2){
      font-weight: bold;
    }