doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Endereços.
    include ../components/bootstrap.css.pug
  body
    include ../navbar.pug
    .container
      .row
        .col-md-12
          ol.breadcrumb
            li
              a(href='/users/account') Sua Conta
            li.active Seus Endereços
          h2.text-left Seus Endereços
          //- Flash erros.          
          if error
            each err in error
              .alert.alert-danger(role='alert') 
                p.text-center #{err} 
          //- Flash success.
          if success
            each suc in success
              .alert.alert-info(role='alert') 
                p.text-center #{suc}    
      .row
        .col-md-4
          a(href='/users/orders')      
            .panel.panel-default(style='min-height: 400px; max-height: 400px')
              .panel-body
                a(href='address/add')
                  h3.text-center Adicionar endereço
        //- Address list.
        if addresss
          each address in addresss
            .col-md-4
              .panel.panel-default.address(data-address-id=address._id, style='min-height: 400px; max-height: 400px')
                if address.default
                  .panel-heading Padrão
                .panel-body                  
                  h4 #{address.name}                                                                                                
                  p #{address.phone}                                                                                                
                  p #{address.cep}                                                                                                
                  p #{address.address}                                                                                                
                  p #{address.addressNumber}                                                                                                
                  p #{address.addressComplement}                                                                                                
                  p #{address.district}                                                                                                
                  p #{address.city}                                                                                                
                  p #{address.state}
                  span
                    a.edit-address(href=`address/edit?addressId=${address._id}`) Editar 
                    strong &nbsp | &nbsp                                                                                       
                    a.remove-address Apagar
                    strong &nbsp | &nbsp
                    a.set-default-address Marcar como padrão                                                                                             
    include ../components/jquery.js.pug
    include ../components/bootstrap.js.pug
  script.
    // Remove address.
    $('.remove-address').on('click', function(event){
      let $target = $(event.target);
      let $panel = $target.closest('.panel');
      let addressId = $panel.data('address-id');
      console.log(addressId);
      if (confirm('Confirma a remoção do endereço ?')) {
        $.ajax({
          method: 'PUT',
          url: 'address/remove/' + addressId,
          data: { _csrf: '#{csrfToken}'}
        })
        .done(function(result){
          // Remove address.
          $target.closest('.col-md-4').remove();
        });
      }
    });
    // Set address as default.
    $('.set-default-address').on('click', function(event){
      let $target = $(event.target);
      let $panel = $target.closest('.panel');
      let addressId = $panel.data('address-id');
      $.ajax({
        method: 'PUT',
        url: 'address/default/' + addressId,
        data: { _csrf: '#{csrfToken}'}
      })
      .done(function(result){
        // Change default adddress.
        // Find all address panels.
        $('.panel').filter('.address').each(function(){
          let $this = $(this);
          // Set as default.
          if($this.data('address-id') === addressId) {
            if($this.find('.panel-heading').length === 0){
              $this.prepend('<div class=panel-heading> Padrão </div>');
            }
          }
          // Unset as default. 
          else {
            $this.find('.panel-heading').remove();
          }
        });
      });
    });    
  style.
    .remove-address:hover,
    .edit-address:hover,
    .set-default-address:hover {
      cursor: pointer;
    }
    panel {
      max-height: 400;
      min-height: 400;
    }
