doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Endereços.
    include ../components/bootstrap.css.pug
  body
    include ../navbar.pug
    .container
      .row
        .col-md-12
          ol.breadcrumb
            li
              a(href='/users/account') Sua Conta
            li.active Seus Endereços
          h2.text-left Seus Endereços
          //- Flash erros.          
          if error
            each err in error
              .alert.alert-danger(role='alert') 
                p.text-center #{err} 
          //- Flash success.
          if success
            each suc in success
              .alert.alert-info(role='alert') 
                p.text-center #{suc}    
      .row
        .col-md-4
          a(href='/users/orders')      
            .panel.panel-default
              .panel-body
                .row
                    a(href='add-address')
                      h3.text-center Adicionar endereço 
        //- Address list.
        if addresss
          each address in addresss
            .col-md-4
              .panel.panel-default
                .panel-body                  
                  h4 #{address.cep}                                                                                                
                  p #{address.address}                                                                                                
                  p #{address.addressNumber}                                                                                                
                  p #{address.addressComplement}                                                                                                
                  p #{address.district}                                                                                                
                  p #{address.city}                                                                                                
                  p #{address.state}
                  span(data-user_id=address.user_id)
                    a.edit-address(href='/') Editar 
                    strong &nbsp | &nbsp                                                                                       
                    p.remove-address Apagar
                    strong &nbsp | &nbsp
                    a.default-address(href='/') Marcar como padrão                                                                                             
    include ../components/jquery.js.pug
    include ../components/bootstrap.js.pug
  script.
    $('remove-address').on('click', function(event){
      if (confirm(' Confirma a remoção do endereço ' + event.target.data(user_id))) {
        console.log('cofirmed');
      } else {
        console.log('not confirmed');
      }
    });
