extends ../layout/layout_vue

block title
  title Zunka - Produtos

block css
  link(rel="stylesheet" href="/css/productList.css" charset="utf-8")

block content
  .cart(v-if='this.productAddedToCart._id')
    .item
      img(:src='"/img/" + this.productAddedToCart._id + "/" + this.productAddedToCart.images[0]')
      span Adicionado ao carrinho
    .sub-total
      span Subtotal ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}}) :
      span {{ cart.totalPrice | currency }}
    .buttons
      button(onclick='window.location="/cart"') Carrinho
      button(onclick='window.location="/checkout/shipping-address"') Finailzar compra ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}})
  .banners
    a(v-for="(banner, index) in banners", :index='index' v-show='index == visibleBanner', :href="banner.link || false")
      img.banner(:src="'/banner/' + banner.fileName")
    .banner-menu
      .arrow.left(@click='changeBanner(-1)') &#10094;
      .dots
        .dot(v-for="(banner, index) in banners", :index='index' @click='selectBanner(index)', :class='[index == visibleBanner ? "selected" : ""]')
      .arrow.right(@click='changeBanner(1)') &#10095;
  .new-products
    h3.title Novidades na loja
    .products
      .product(v-for='product in newProducts')
        a(:href='"/product/" + product._id')
          img(:src='`/img/${product._id}/${product.images[0]}`', v-if='product.images[0]')
          h4.title {{ product.storeProductTitle }}
          h3.price
            sup R$
            | {{ product.storeProductPrice | currency | currencyInt }}
            sup {{ product.storeProductPrice | currency | currencyCents }} 
  .best-selling-products
    h3.title Produtos mais vendidos
    .products
      .product(v-for='product in bestSellingProducts')
        a(:href='"/product/" + product._id')
          img(:src='`/img/${product._id}/${product.images[0]}`', v-if='product.images[0]')
          h4.title {{ product.storeProductTitle }}
          h3.price
            sup R$
            | {{ product.storeProductPrice | currency | currencyInt }}
            sup {{ product.storeProductPrice | currency | currencyCents }} 

append internal_scripts
  script.
    let cart = !{JSON.stringify(cart)};
    let search = !{JSON.stringify(search)};
    let banners = !{JSON.stringify(banners)};

append external_scripts
  script(src='/js/productList.js?0001')
