extends ../layout/layout_vue_n

block title
  title Zunka - Produto

block append css
  link(rel="stylesheet" href="/css/product/product.css?0004" charset="utf-8")

block content
    section
        .layout.shadow
            .product-thumbnail
                img(v-for='image, index in product.images', :src='srcImg0080(product, index)' @click='selectedThumbnail=index')
            .product-image(@click='showZoomImg')
                img(:src='srcImg0300(product, selectedThumbnail)' v-if='product.images.length > 0')
            .product-summary
                if user.name && user.group.includes('admin')
                    a.title(href=`/admin/product/${product._id}`) {{product.storeProductTitle}}
                else
                    h2.title {{product.storeProductTitle}}
                h2.price(v-if='accountingParse(this.product.storeProductPrice, ",") > 0')
                    sup R$
                    | {{ product.storeProductPrice | currency | currencyInt }}
                    sup {{ product.storeProductPrice | currency | currencyCents }} 
                    //- | R$ {{ product.storeProductPrice | currency}}
                ul.detail(v-if='productDetail.length > 0')
                    li(v-for='detail in productDetail') {{detail}}
                h2(v-if='product.storeProductQtd < 1').out-of-stock {{ outOfStockMessage }}
                input.add-to-cart.btn-primary(v-if='product.storeProductQtd > 0' type='button' @click='addToCart' value='Adicionar ao carrinho')
                .estimate-ship(v-if='product.storeProductQtd > 0')
                    p Estimar frete e prazo (Entre com o CEP)
                        .join-buttons
                            input(type='text' id='cep' v-model='cepDestiny')
                            input.btn-info(type='button' @click='estimateShipment' value='Calcular')
                            span.loader(v-show='loadingEstimateShipment')
                    p.errMsg {{cepErrMsg}}
                    table(v-if='showEstimatedShipment')
                        thead
                            tr
                                th Entrega
                                th Valor
                                th Prazo
                        tbody
                            tr(v-for='estShip in estimateShipmentData')
                                td {{estShip.service}}
                                td R$ {{estShip.price}}
                                td {{estShip.time}}
            //- Markdown.
            if productInfo.trim() !== ""
                .product-info.markdown!= productInfo
            //- Description.
            .product-description.markdown(v-if='product.storeProductDescription.trim() !== ""')
                h2.title Descrição
                div(v-for='item in productDescription')
                    //- With title.
                    h3(v-if='typeof item != "string"').sub-title {{item[0]}}
                    p(v-if='typeof item != "string"') {{item[1]}}
                    //- Without title.
                    p(v-if='(typeof item == "string") && (item != "")') {{ item }}
                    p(v-if='(typeof item == "string") && (item == "")') &nbsp 
            //- Tech info.
            .product-technical.markdown(v-if='productInformationTechnical.length > 0')
                h2.title Detalhes técnicos
                div(v-for='item in productInformationTechnical')
                    //- With title.
                    h3(v-if='typeof item != "string"').sub-title {{item[0]}}
                    p(v-if='typeof item != "string"') {{item[1]}}
                    //- Without title.
                    p(v-if='(typeof item == "string") && (item != "")') {{ item }}
                    p(v-if='(typeof item == "string") && (item == "")') &nbsp 
            //- Warranty text.
            if warrantyText !== ""
                .product-warranty.markdown!= warrantyText
            if outletText !== ""
                .product-outlet.markdown!= outletText
            //- Additional information.
            .product-additional.markdown(v-if='productInformationAdditional.length > 0')
                h2.title Informações adicionais
                div(v-for='item in productInformationAdditional')
                    //- With title.
                    h3(v-if='typeof item != "string"').sub-title {{item[0]}}
                    p(v-if='typeof item != "string"') {{item[1]}}
                    //- Without title.
                    p(v-if='(typeof item == "string") && (item != "")') {{ item }}
                    p(v-if='(typeof item == "string") && (item == "")') &nbsp 
        .modal(v-if='showModal')
            .panel
                i.close.far.fa-window-close(@click='hideZoomImg')
                .zoom-image
                    img(:src='srcImgZoom(product, selectedThumbnail)' v-if='product.images.length > 0')
        include ../misc/loading.pug

append internal_scripts
    script.
        let product = !{JSON.stringify(product)};

append external_scripts
    include ../components/accounting.js.pug
    script(src='/js/product/product.js?0011')
