extends ../layout/layout_vue

block title
  title Zunka - Todos os produtos

block css
  link(rel="stylesheet" href="/css/product/productListAll.css" charset="utf-8")

block content
  .panel
    .cart(v-if='this.productAddedToCart._id')
      .item
        img(:src='"/img/" + this.productAddedToCart._id + "/" + this.productAddedToCart.images[0]')
        span Adicionado ao carrinho
      .sub-total
        span Subtotal ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}}) :
        span {{ cart.totalPrice | currency }}
      .buttons
        button(onclick='window.location="/cart"') Carrinho
        button(onclick='window.location="/checkout/shipping-address"') Finailzar compra ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}})
    h2.title(v-show='search && products.length') Sua pesquisa por "{{search}}"
    h2.title(v-show='search && !products.length') Nenhum resultado encontrado para "{{search}}"
    h2.title(v-show='!search') Todos os produtos
    .all-products
      //- .left-bar(v-show='products.length')
      .left-bar
        select(id='prduct-order' v-model='sort')
          option(value='stock') 
          option(value='alpha') Ordem alfabética
          option(value='best-selling') Mais vendidos
          option(value='price-low') Menor preço   
          option(value='price-high') Maior preço 
        .checkbox(v-for='category in categories')
          //- input(type='checkbox', :id='category' v-model:checked='categories.category')
          input(type='checkbox', :id='category', :value='category' v-model='categoriesFilter')
          label(:for='category') {{category}}
      .products
        .product(v-for='product in products')
          a(:href='"/product/" + product._id')
            img(:src='srcImg0200(product)', v-if='product.images[0]')
            //- img(:src='`/img/${product._id}/${product.images[0]}`', v-if='product.images[0]')
            h4.title {{ product.storeProductTitle }}
            h3.price
              sup R$
              | {{ product.storeProductPrice | currency | currencyInt }}
              sup {{ product.storeProductPrice | currency | currencyCents }} 
    .pagination
      a(v-for='p in pageCount', @click='getProducts(p)', :page='page==p', :p='p', :active='page==p') {{p}}

append internal_scripts
  script.
    let cart = !{JSON.stringify(cart)};
    let search = !{JSON.stringify(search)};
    let categoriesFilter = !{JSON.stringify(categoriesFilter)};

append external_scripts
  script(src='/js/product/productListAll.js?0001')
