doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Endereços.
    link(rel="stylesheet" href="/css/checkout/shippingAddress.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug    
    main#app(v-cloak)
      .container
        .address-add
          h2.text-left Selecionar um endereço para envio
          p Ou voçê pode 
            a(href='#') adicionar um novo endereço para envio.
          hr
        //- Address list.
        .addresss
          .address(v-if='address' v-for='address in addresss' data-address-id='this.address._id')
            p.name {{address.name}}
            p {{address.phone}}
            p {{address.cep}}
            p {{address.address}}
            p {{address.addressNumber}}
            p {{address.addressComplement}}
            p {{address.district}}
            p {{address.city}}
            p {{address.state}}
            button(@click='selectAddress(address._id)') Enviar para este endereço
        .form
          hr
          .field
            //- input(type='hidden' name='_csrf' value=csrfToken)       
            h3.text-left
              strong Cadastrar novo endereço para envio.    
          //- Name.                              
          .field
            label(for='name') Nome
            input(type='text' name='name' id='name' v-model='newAddress.name')
            p.validation(v-if='validation.name') {{validation.name}}    
          //- Cep.      
          .field
            label(for='cep') CEP
            input(@blur='getCepInfo' type='text' name='cep' id='cep' v-model.lazy='newAddress.cep')
            //- input(@focusout='getCepInfo' type='text' name='cep' id='cep' v-model='newAddress.cep')
            //- the-mask(@keydown='getCepInfo' mask="['###.###.###-##', '##.###.###/####-##']" type='text' name='cep' id='cep' v-model='newAddress.cep')
            p.validation(v-if='validation.cep') {{validation.cep}}          
            a(href='http://www.buscacep.correios.com.br' target='_blank') Não sei meu CEP
            p.loadingCep(v-if='loadingCep') Buscando dados do CEP...
            p.validation(v-if='cepErr') Não foi possível encontrar o CEP informado. Por favor confira os dados e tente novamente.
          //- Address.
          .field
            label(for='address') Endereço
            input(type='text' name='address' id='address' v-model='newAddress.address')
            p.validation(v-if='validation.address') {{validation.address}} 
          //- Adress number.
          .field
            label(for='addressNumber') Número
            input(type='text' name='addressNumber' id='addressNumber' v-model='newAddress.addressNumber')
            p.validation(v-if='validation.addressNumber') {{validation.addressNumber}} 
          //- Address complement.
          .field
            label(for='addressComplement') Complemento
            input(type='text' name='addressComplement' id='addressComplement' v-model='newAddress.addressComplement')
            p.validation(v-if='validation.addressComplement') {{validation.addressComplement}} 
          //- District.
          .field
            label(for='district') Bairro
            input(type='text' name='district' id='district' v-model='newAddress.district')   
            p.validation(v-if='validation.district') {{validation.district}} 
          //- City.    
          .field
            label(for='city') Cidade
            input(type='text' name='city' id='city' v-model='newAddress.city')  
            p.validation(v-if='validation.city') {{validation.city}} 
          //- State.
          .field
            label(for='state') Estado
            input(type='text' name='state' id='state' v-model.lazy='newAddress.state')  
            p.validation(v-if='validation.state') {{validation.state}} 
          //- Phone.                   
          .field
            label(for='phone') Telefone
            input(type='text' name='phone' id='phone' v-model='newAddress.phone')                                                                                        
            p.validation(v-if='validation.phone') {{validation.phone}} 
          button(@click='newAddressSelected()') Enviar para este endereço
  //- Make available for vue.
  script.
    let addresss = !{JSON.stringify(addresss)};
    let newAddress = !{JSON.stringify(newAddress)};
    let csrfToken = !{JSON.stringify(csrfToken)};
  //-   let user = !{JSON.stringify(user)};
  include ../components/vue-the-mask.js.pug
  include ../components/axios.js.pug
  include ../components/vue.js.pug
    //- include ../components/cpf.js.pug
  //- include components/accounting.js.pug
  script(src='/js/checkout/shippingAddress.js')
