extends ../layout/layout

block title
    title Zunka - Categoria do Mercado Livre

block append internal_style
    style.
        section {
            margin-bottom: 1em;
        }
        section > h2:first-child {
            margin-top: 0;
            margin-bottom: .5em;
            color: var(--green);
        }
        section .group h3 {
            margin: 0
            color: var(--black-darkest);
        }
        section .group p {
            margin: 0 0 0.7em 0;
            color: var(--black-dark);
        }
        section .group a {
            display: block;
            display: flex;
            flex-flow: row wrap;
            margin-top: .0em;
            margin-bottom: .7em;
            color: var(--green);
            cursor: pointer;
        }
        section .group a:hover {
            color: var(--green);
            text-decoration: underline;
        }

block content 
    section
        //- name
        h2= category.name

        //- id
        .group
            h3 Id
            p= category.id

        //- api category link
        .group
            h3 API Categoria
            a(href=`https://api.mercadolibre.com/categories/${category.id}`) https://api.mercadolibre.com/categories/!{category.id}

        //- api atributos link
        .group
            h3 API Atributos
            a(href=`https://api.mercadolibre.com/categories/${category.id}/attributes`) https://api.mercadolibre.com/categories/!{category.id}/attributes

        input.btn-primary(type='button', value='Atualizar', onclick='update()')
        input.btn-danger(type='button', value='Remover', onclick='remove()')
        input.btn-exit(type='button', onclick='window.location.href="/meli/categories"', value='Sair') 

append internal_scripts
    script.
        function remove() {
            console.log(`csrfToken: ${csrfToken}`);
            //- axios.delete(`/meli/categories`, { categoryId: '!{category.id}' }, { headers: { 'csrf-token': csrfToken } })
            axios.delete(`/meli/categories/!{category.id}`, { headers: { 'csrf-token': csrfToken } })
            .then(()=>{
                window.location.href = '/meli/categories';
            })
            .catch((err)=>{
                console.error(`${err.response.status} (${err.response.statusText}) ${err.response.data}`);
                alert(`Não foi possível remover a categoria. ${err.response.data}`);
            });
        }

append external_scripts
    include ../components/axios.js.pug
